body{
    background-color: rgb(255, 156, 155);
}

.entree-title{
    text-align: center;
}

.ingredient-list{
list-style: none;
margin: 0px;
padding: 0px;

}

.ingredient{
    margin: auto;
    padding: 5px;
}

.instruction-list{
    border-top: 5px solid black;
}
.instruction{
    margin-bottom: 5px;
    margin-top: 10px;
}